<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
        <a routerLink="/" class="navbar-brand"> Control Clientes</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item px-2">
                    <a routerLink="/" class="nav-link"> Inicio</a>

                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-white">

                    <i class="fas fa-user"></i> Bienvenido

            </ul>
        </div>

    </div>

</nav>